<div class="row">
  <div *ngFor="let faculty of faculties" class="col s12 m3">
    <div class="card">
      <div class="card-content ">
        <span class="card-title">{{faculty.name}}</span>
        <blockquote>
          <p>Funded count of place: {{faculty.fundedPlaceCount}}</p>
          <p>All count of place: {{faculty.allPlaceCount}}</p>
        </blockquote>
        <hr/>
        <h6>Required subjects:</h6>
        <blockquote>
          <p *ngFor="let sub of faculty.subjects">{{sub.name}}</p>
        </blockquote>
      </div>
      <div class="card-action">
        <a href="#modal2" (click)="setFaculty(faculty)" class="modal-trigger">Update</a>
        <a href="javascript:;" (click)="deleteFaculty(faculty)">Delete</a>
      </div>
    </div>
  </div>
</div>
<app-page-nav [currentPage]="page" [totalPage]="totalPage" [size]="size"
(changePage)="changedPage($event)" [postsPerPage]="[5, 10, 20, 50]"></app-page-nav>
<app-faculty-form (changeData)="changeData($event)" (submitForm)="addNewFaculty()" [subjects]="subjects"></app-faculty-form>
<app-update-faculty-form [faculty]="faculty" (changeData)="changeData($event)" (submitForm)="updateFaculty()" [subjects]="subjects"></app-update-faculty-form>
