<ul class="sidenav">
  <li>
    <div class="user-view">
      <div class="background">
        <img src="../../../../assets/office.jpg">
      </div>
      <a href="#user" *ngIf="!userInfo || !userInfo.avatarUrl"><img class="circle" src="../../../../assets/no-avatar.png"></a>
      <a href="#user" *ngIf="userInfo && userInfo.avatarUrl"><img class="circle" [src]="[userInfo.avatarUrl]"></a>
      <a href="#name" *ngIf="userInfo"><span
        class="white-text name">{{userInfo.firstName}} {{userInfo.lastName}}</span></a>
      <a href="#email" *ngIf="userInfo"><span class="white-text email">{{userInfo.email}}</span></a>
    </div>

  </li>
  <li *ngFor="let nav of navigation">
    <a [routerLink]="[nav.url]"><i class="material-icons">{{nav.icon}}</i>{{nav.name}}<span *ngIf="nav.name=='Users' && newUsers > 0" class="new badge red">{{newUsers}}</span></a>
  </li>
</ul>

