<div>
  <div id="modal1" class="modal">
    <div class="modal-content">
      <h4>Faculty</h4>
      <div class="row">
        <form class="col s12" (submit)="submitCreation()">
          <div class="row">
            <div class="input-field col s12">
              <input id="name" type="text" name="name" class="validate" (change)="setData($event)" [value]="facultyModel.name">
              <label for="name">Name</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input id="fundCountPlace" type="text" name="fundedPlaceCount" class="validate" (change)="setData($event)" >
              <label for="fundCountPlace">Funded Place Count</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input id="allCountPlace" type="text" name="allPlaceCount" class="validate" (change)="setData($event)">
              <label for="allCountPlace">All Place Count</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <select multiple (change)="setData($event)" id="subjects" name="subjects">
                <option *ngFor="let subject of subjects" [value]="subject.id">{{subject.name}}</option>
              </select>
              <label>Materialize Multiple Select</label>
            </div>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn waves-effect waves-light modal-close">Add</button>
          </div>
        </form>
      </div>
    </div>

  </div>
  <div class="add-button-wrapper">
    <a href="#modal1" class="btn-floating btn-large waves-effect waves-light red modal-trigger"><i
      class="material-icons">add</i></a>
  </div>
</div>
