<div class="row profile-wrapper">
  <img *ngIf="user && user.avatarUrl" [src]="user.avatarUrl" class="col s3"/>
  <img *ngIf="user && !user.avatarUrl" src="../../../assets/no-avatar.png" class="col s3"/>
  <div class="content-wrapper col s9">
    <div class="nav-wrapper">
      <div class="nav-content">
        <ul class="tabs">
          <li class="tab"><a class="active" href="#info">Info</a></li>
          <li class="tab"><a href="#certificate">Certificate</a></li>
          <li class="tab"><a href="#complaints">Complaints</a></li>
        </ul>
      </div>
    </div>
    <div id="info" class="col s5">
      <table *ngIf="user">
        <tbody>
        <tr>
          <td>First Name</td>
          <td>{{user.firstName}}</td>
        </tr>
        <tr>
          <td>Last Name</td>
          <td>{{user.lastName}}</td>
        </tr>
        <tr>
          <td>Middle Name</td>
          <td>{{user.middleName}}</td>
        </tr>
        <tr>
          <td>Email</td>
          <td>{{user.email}}</td>
        </tr>
        <tr>
          <td>Region</td>
          <td>{{user.region}}</td>
        </tr>
        <tr>
          <td>City</td>
          <td>{{user.city}}</td>
        </tr>
        <tr>
          <td>School Number</td>
          <td>{{user.schoolNumber}}</td>
        </tr>
        <tr *ngIf="complaints.user.userSubjects">
          <td>Marks</td>
          <td><div *ngFor="let mark of complaints.user.userSubjects">
            {{mark.subject.name}} - {{mark.mark}}
          </div></td>
        </tr>
        </tbody>
      </table>
    </div>
    <div id="certificate" class="col s12">
      <img *ngIf="user" [src]="user.certificateUrl"/>
    </div>
    <div id="complaints" class="col s12">
      <table *ngIf="complaints && complaints.data">
        <thead>
        <tr>
          <th>Selected Faculty</th>
          <th>Marks</th>
          <th>Summary Mark</th>
          <th>Status</th>
          <th>Expired Date</th>
          <th>Accepted Date</th>
        </tr>
        </thead>

        <tbody>
        <tr *ngFor="let complaint of complaints.data">
          <td>{{complaint.faculty.name}}</td>
          <td><p *ngFor="let subj of complaints.user.userSubjects">{{subj.subject.name}} {{subj.mark}}</p></td>
          <td>{{complaint.summaryMarks}}</td>
          <td>{{complaint.status}}</td>
          <td>{{complaint.expiredDate | date:'medium'}}</td>
          <td>{{!!complaint.acceptedDate ? (complaint.acceptedDate | date: 'medium') : 'The student is pending approve.'}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>



