<div class="row form-container">
  <form enctype="multipart/form-data" #loginForm="ngForm" (submit)="signUp(loginForm)" class="col s12">
    <div class="row">
      <div class="input-field col s12">
        <input  id="firstName" type="text" class="validate" [class.invalid]="error && error.firstName" name="firstName" ngModel>
        <label for="firstName">First Name</label>
        <span *ngIf="error && error.firstName" class="helper-text red-text">{{error.firstName}}</span>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input id="lastName" type="text" class="validate" [class.invalid]="error && error.lastName" name="lastName" ngModel>
        <label for="lastName">Last Name</label>
        <span *ngIf="error && error.lastName" class="helper-text red-text">{{error.lastName}}</span>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input id="middleName" type="text" class="validate" name="middleName" [class.invalid]="error && error.middleName" ngModel>
        <label for="middleName">Middle Name</label>
        <span *ngIf="error && error.middleName" class="helper-text red-text">{{error.middleName}}</span>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input id="email" type="email" class="validate" name="email" [class.invalid]="error && error.email" ngModel>
        <label for="email">Email</label>
        <span *ngIf="error && error.email" class="helper-text red-text">{{error.email}}</span>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input id="password" type="password" class="validate" name="password" [class.invalid]="error && error.password" ngModel>
        <label for="password">Password</label>
        <span *ngIf="error && error.password" class="helper-text red-text">{{error.password}}</span>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input id="confirmPassword" type="password" class="validate" name="confirmPassword" [class.invalid]="error && error.confirmPassword" ngModel>
        <label for="confirmPassword">Confirm Password</label>
        <span *ngIf="error && error.confirmPassword" class="helper-text red-text">{{error.confirmPassword}}</span>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input id="region" type="text" class="validate" name="region" [class.invalid]="error && error.region" ngModel>
        <label for="region">Region</label>
        <span *ngIf="error && error.region" class="helper-text red-text">{{error.region}}</span>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input id="city" type="text" class="validate" name="city" [class.invalid]="error && error.city" ngModel>
        <label for="city">City</label>
        <span *ngIf="error && error.city" class="helper-text red-text">{{error.city}}</span>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input id="schoolNumber" type="number" class="validate" name="schoolNumber" [class.invalid]="error && error.schoolNumber" ngModel>
        <label for="schoolNumber">School Number</label>
        <span *ngIf="error && error.schoolNumber" class="helper-text red-text">{{error.schoolNumber}}</span>
      </div>
    </div>
    <div class="row">
      <div class="file-field input-field">
        <div class="btn">
          <span>File</span>
          <input type="file" name="avatar" (change)="handleFileInput($event)" ngModel>
        </div>
        <div class="file-path-wrapper">
          <input class="file-path validate" type="text" placeholder="Avatar">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="file-field input-field">
        <div class="btn">
          <span>File</span>
          <input type="file" name="certificate" (change)="handleFileInput($event)" ngModel>
        </div>
        <div class="file-path-wrapper">
          <input class="file-path validate" type="text" placeholder="Certificate">
        </div>
      </div>
    </div>
    <!--Here is will marks -->
    <div class="row">
      <div class="input-field col s12 right-align">
        <button type="submit" class="btn waves-effect waves-light ">Login</button>
      </div>
    </div>
  </form>
</div>
