<div>
  <nav>
    <div class="nav-wrapper">
      <form (ngSubmit)="findUser()">
        <div class="input-field">
          <input id="search" type="search" name="search" [(ngModel)]="searchValue" required>
          <label class="label-icon" for="search"><i class="material-icons">search</i></label>
          <i class="material-icons" (click)="clearSearch()">close</i>
        </div>
      </form>
    </div>
  </nav>
  <table>
    <thead>
    <tr>
      <th>Full name</th>
      <th>Marks</th>
      <th>Actions</th>
    </tr>
    </thead>

    <tbody>
    <tr *ngFor="let user of users">
      <td style="width: 39%">{{user.lastName}} {{user.firstName}} {{user.middleName}}</td>
      <td style="width: 40%"><p *ngFor="let subj of user.userSubjects">{{subj.subject.name}} {{subj.mark}}</p></td>
      <td>
        <div>
          <a class="waves-effect waves-light btn-small red lighten-1" (click)="verifyUsersMark(user.id)"
             [ngClass]="user.verifyStatus === 'VERIFIED' && 'disabled'"><i
            class="material-icons left">check</i>Verify</a>
          <a *ngIf="!user.isBlocked" class="btn-small waves-effect waves-light red lighten-1"
             (click)="blockUser(user)"><i class="material-icons left">block</i>Block</a>
          <a *ngIf="user.isBlocked" class="btn-small waves-effect waves-light red lighten-1"
             (click)="blockUser(user)"><i class="material-icons left">block</i>Unblock</a>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
  <app-page-nav [size]="size" [postsPerPage]="[5, 10, 20, 50]" [currentPage]="page" [totalPage]="totalPage"
                (changePage)="changedPage($event)"></app-page-nav>
</div>
