<div class="row">
  <div *ngFor="let faculty of faculties" class="col s12 m3">
    <div class="card">
      <div class="card-content ">
        <span class="card-title">{{faculty.name}}</span>
        <blockquote>
          <p>Funded count of place: {{faculty.fundedPlaceCount}}</p>
          <p>All count of place: {{faculty.allPlaceCount}}</p>
        </blockquote>
        <hr/>
        <h6>Required subjects:</h6>
        <blockquote>
          <p *ngFor="let sub of faculty.subjects">{{sub.name}}</p>
        </blockquote>
      </div>
      <div class="card-action">
        <a href="javascript:;" (click)="registrateOnFaculty(faculty, user)"
           [class.disabled]="user.verifyStatus==='NOT_VERIFIED'">Registrate</a>
      </div>
    </div>
  </div>
</div>
