<div class="control-panel row">
  <div class="input-field col s2">
    <select (change)="setPage(currentPage, $event.target.value)">
      <option value="" disabled selected>Choose your option</option>
      <option *ngFor="let num of postsPerPage" [value]="num" [selected]="num===size">{{num}}</option>
    </select>
    <label>Item per page</label>
  </div>
  <ul class="pagination col s5" style="margin-left: 15em" *ngIf="totalPage > 1">
    <li [class.disabled]="currentPage === 1">
      <a href="javascript:;" (click)="setPage(currentPage - 1, size)">
        <i class="material-icons">chevron_left</i>
      </a>
    </li>
    <!--<li class="active"><a href="#!">1</a></li>-->
    <li *ngFor="let page of pages" [class.active]="page === currentPage" class="waves-effect">
      <a href="javascript:;" (click)="setPage(page, size)">{{page}}</a>
    </li>
    <li class="waves-effect" [class.disabled]="currentPage===totalPage">
      <a href="javascript:;" (click)="setPage(currentPage+1, size)">
        <i class="material-icons">chevron_right</i>
      </a>
    </li>
  </ul>
</div>
