<div class="row form-container">
  <form #loginForm="ngForm" (submit)="onSubmit(loginForm)" class="col s12">
    <div class="row">
      <div class="input-field col s12">
        <input id="email" type="email" class="validate" name="email" ngModel>
        <label for="email">Email</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input id="password" type="password" class="validate" name="password" ngModel>
        <label for="password">Password</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12 right-align">
        <button type="submit" class="btn waves-effect waves-light ">Login</button>
      </div>
    </div>
  </form>
</div>
