<nav>
  <div class="nav-wrapper">
    <a href="#" class="brand-logo"><i aria-hidden="true" class="fa fa-book"></i>Enroll System</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li>
        <a *ngIf="!authService.isLoggedIn()" [routerLink]="['/signup']">Sign Up</a>
      </li>
      <li>
        <a *ngIf="!authService.isLoggedIn()" [routerLink]="['/login']">Login</a>
        <a *ngIf="authService.isLoggedIn()" (click)="logOut()">Logout</a>
      </li>
    </ul>
  </div>
</nav>
