<div>
  <table class="striped">
    <thead>
    <tr>
      <th>Name</th>
      <th>Actions</th>
    </tr>
    </thead>

    <tbody>
    <tr *ngFor="let subject of subjects">
      <td style="width: 75%">{{subject.name}}</td>
      <td>
        <div>
        <a  href="#modal4" (click)="setSubject(subject)" class="waves-effect waves-light btn-small red lighten-1 modal-trigger"><i
          class="material-icons left">update</i>Update</a>
        <a class="btn-small waves-effect waves-light red lighten-1" (click)="deleteSubject(subject)"><i class="material-icons left">delete</i>Delete</a>
      </div>
      </td>
    </tr>
    </tbody>
  </table>
  <app-page-nav [currentPage]="page" [totalPage]="totalPage" [size]="size"
                (changePage)="changedPage($event)" [postsPerPage]="[5, 10, 20, 50]"></app-page-nav>
</div>
<app-add-subject-form (submitForm)="addNewSubject()" (changeData)="changeData($event)"></app-add-subject-form>
<app-update-subject-form (submitForm)="updateSubject()" (changeData)="changeData($event)" [subject]="subjectViewModel"></app-update-subject-form>
