<div class="admin-container">
<app-sidebar [navigation]="navigation" [userInfo]="user" [newUsers]="newUsersCount"></app-sidebar>
<div class="admin-content">
  <router-outlet></router-outlet>
</div>
</div>
