<div>
  <div id="modal4" class="modal">
    <div class="modal-content">
      <h4>Faculty</h4>
      <div class="row">
        <form class="col s12" (submit)="submitUpdating()">
          <div class="row">
            <div class="input-field col s12">
              <input id="name" type="text" name="name" class="validate" (change)="setData($event)" [value]="subject.name">
              <label for="name">Name</label>
            </div>
          </div>

          <div class="modal-footer">
            <button type="submit" class="btn waves-effect waves-light modal-close">Add</button>
          </div>
        </form>
      </div>
    </div>

  </div>
</div>
