<div>
  <table>
    <thead>
    <tr>
      <th>Student Name</th>
      <th>Selected Faculty</th>
      <th>Marks</th>
      <th>Summary Mark</th>
      <th>Status</th>
      <th>Expired Date</th>
      <th>Accepted Date</th>
      <th>Actions</th>
    </tr>
    </thead>

    <tbody>
    <tr *ngFor="let complaint of complaints">
      <td>{{complaint.user.lastName}} {{complaint.user.firstName}} {{complaint.user.middleName}}</td>
      <td>{{complaint.faculty.name}}</td>
      <td><p *ngFor="let subj of complaint.user.userSubjects">{{subj.subject.name}} {{subj.mark}}</p></td>
      <td>{{complaint.summaryMarks}}</td>
      <td>{{complaint.status}}</td>
      <td>{{complaint.expiredDate | date:'medium'}}</td>
      <td>{{!!complaint.acceptedDate ? (complaint.acceptedDate | date: 'medium') : 'The student is pending approve.'}}</td>
      <td>
        <div>
          <a class="waves-effect waves-light btn-small red lighten-1" (click)="changeStatus(complaint, status.ENROLLED)"
             [class.disabled]="complaint.status!=='REGISTERED'">
            <i class="material-icons left">check</i>Enroll</a>
          <a class="btn-small waves-effect waves-light red lighten-1" [class.disabled]="
             complaint.status!=='REGISTERED'"  (click)="changeStatus(complaint, status.REJECTED)">
            <i class="material-icons left">block</i>Reject</a>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
  <app-page-nav [size]="size" [postsPerPage]="[5, 10, 20, 50]" [currentPage]="page" [totalPage]="totalPage"
                (changePage)="changedPage($event)"></app-page-nav>
</div>
