<div class="wrapper">
  <div class="form-wrapper">
    <h4>Add you marks</h4>
    <h5>Without marks you cannot view information and register on the faculty</h5>
    <form (submit)="submitAddedMarks($event)">
      <div class="row">
        <div class="input-field col s6">
          <select (change)="setData($event, 1)" id="first_subjects" name="first_subjects">
            <option *ngFor="let subject of subjects" [value]="subject.id">{{subject.name}}</option>
          </select>
        </div>
        <div class="input-field col s6">
          <input placeholder="Mark" id="first_subject_mark" type="number" (change)="setData($event, 1)" class="validate">
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <select (change)="setData($event, 2)" id="second_subjects" name="second_subjects">
            <option *ngFor="let subject of subjects" [value]="subject.id">{{subject.name}}</option>
          </select>
        </div>
        <div class="input-field col s6">
          <input placeholder="Mark" id="second_subject_mark" type="number" (change)="setData($event, 2)" class="validate">
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <select (change)="setData($event, 3)" id="third_subjects" name="third_subjects">
            <option *ngFor="let subject of subjects" [value]="subject.id">{{subject.name}}</option>
          </select>
        </div>
        <div class="input-field col s6">
          <input placeholder="Mark" id="third_subject_mark" type="number" (change)="setData($event, 3)" class="validate">
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12 right-align">
          <button type="submit" class="btn waves-effect waves-light ">Add marks</button>
        </div>
      </div>
    </form>
  </div>
</div>
