.wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 9999999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-wrapper {
  width: 800px;
  height: 600px;
  background: white;
  padding: 40px;
}

