<app-add-marks *ngIf="isLocked" [subjects]="subjects" (changeData)="changeData($event)" (submitForm)="submit()"></app-add-marks>
<div class="admin-container">
  <app-sidebar [navigation]="navigation" [userInfo]="user"></app-sidebar>
  <div class="admin-content">
    <router-outlet></router-outlet>
  </div>
</div>
