<div>
  <div id="modal2" class="modal">
    <div class="modal-content">
      <h4>Faculty</h4>
      <div class="row">
        <form class="col s12" (submit)="submitUpdating()">
          <div class="row">
            <div class="input-field col s12">
              <input id="name_update" type="text" name="name" class="validate" (change)="setData($event)" [value]="faculty.name">
              <label for="name_update">Name</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input id="fundCountPlace_update" type="text" name="fundedPlaceCount" class="validate" (change)="setData($event)" [value]="faculty.fundedPlaceCount">
              <label for="fundCountPlace_update">Funded Place Count</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input id="allCountPlace_update" type="text" name="allPlaceCount" class="validate" (change)="setData($event)" [value]="faculty.allPlaceCount">
              <label for="allCountPlace_update">All Place Count</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <select multiple (change)="setData($event)" id="subjects_update" name="subjects">
                <option *ngFor="let subject of subjects" [value]="subject.id" [selected]="faculty.subjectIds.includes(subject.id)">{{subject.name}}</option>
              </select>
              <label>Materialize Multiple Select</label>
            </div>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn waves-effect waves-light modal-close">Add</button>
          </div>
        </form>
      </div>
    </div>

  </div>
</div>
